/classroom/TestObjectOutputStream/nbproject/private/
/classroom/TestObjectOutputStream/build/
/classroom/FileHtml/nbproject/private/
/classroom/FileHtml/build
/homework/FileHtml/nbproject/private/
/homework/WriteReadObject/nbproject/private/
/homework/WriteReadObject/build/
/classroom/GestorDeAgenda/nbproject/private/
/classroom/Biblioteca/nbproject/private/
/classroom/GestorDeAgenda/build/
/classroom/ApiRequest/build/
/homework/Clima/nbproject/private/
/homework/Clima/build/
/homework/JavaApplication36/nbproject/private/
/classroom/JasperReport/nbproject/private/
/classroom/reporteGraficas/nbproject/private/
/classroom/DemoJfreeChart/nbproject/private/
/classroom/DemoJfreeChart/build/